input,
textarea {
  height: 40px;
  border: 1px solid grey;
  /* width: calc(100% - 32px);  */
  padding-left: 16px;
  margin-right: 16px;
  /* margin-left: 20px; */
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 2px solid rgb(56, 56, 56);
}

textarea {
  height: 100px;
  padding-top: 10px;
}

/* Add to App.css */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-tabs .ant-tabs-tab {
  color: #9ca3af; /* gray-400 */
  transition: all 0.3s ease;
}

.custom-tabs .ant-tabs-tab-active {
  color: #ffffff;
  font-weight: 600;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #9333ea; /* purple-600 */
}
.ant-input:focus,
.ant-input-focused,
.ant-input:active {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
}
/* In your global CSS if needed */
.Toastify__toast-container {
  z-index: 9999 !important;
}
